<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Controle de Usuários</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/dsgov-base-in.min.css">
  <link rel="stylesheet" href="/static/css/dsgov-components-in.min.css">
  <link rel="stylesheet" href="/static/css/dsgov-templates-in.min.css">
  <link rel="stylesheet" href="/static/css/govbr-login.css">
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon-32x32.png"/>
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon-16x16.png"/>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<body class="template-system">
    <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>

  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
  </ul>
  <!-- Cabeçalho da página -->
  <header id="header" class="page-header" data-type="system">
    <!-- Sombra do topo -->
    <div class="shadow-bottom">
      <div class="container-fluid">
        <!-- Barra principal -->
        <div class="header-bar">
          <!-- Logo -->
          <div style="height: 80% !important;" class="logo">
            <span style="color: #071d41; font-size: 20px" class="description">Mulher, da Família e dos Direitos Humanos</span>
            <a style="color: #555; font-size: 12px; text-transform: uppercase; margin-left: 2px;" href="https://www.mdh.gov.br/" id="logo" class="name">Ministério Da</a>
          </div>
          <!-- Links rápidos -->
          <div style="display: none;" class="quicklinks">
            <ul>
              <li><a href="">Acesso à informação</a></li>
              <li><a href="">Participe</a></li>
              <li><a href="">Acessibilidade</a></li>
            </ul>
            <!-- Altocontraste -->
            <a href="" id="contrast" class="contrast" accesskey="6">
              <i class="fas fa-adjust fa-lg"></i>
              <span class="d-none d-md-block">Alto contraste</span>
            </a>
          </div>
          <!-- Busca geral -->
          <div style="display: none;" class="search">
            <div class="field">
              <label for="search" class="sr-only">Autocomplete</label>
              <input id="search" type="search" placeholder="O que você procura?">
              <button class="" type="button">
                <i class="fas fa-search fa-lg"></i>
                <span class="sr-only">buscar</span>
              </button>
            </div>
            <button class="close" type="button">
              <i class="fas fa-times fa-lg"></i>
              <span class="sr-only">fechar a busca</span>
            </button>
          </div>
          <!-- Barra do usuário -->
          <div class="user-bar">
            <!-- Configurações do usuário -->
            <div style="display: none;" class="configs dropdown">
              <button class="trigger" type="button">
                <!-- Avatar do usuário -->
                <div class="avatar">
                  <!-- <img src="../../assets/images/avatar.png" alt="Avatar"> -->
                  <!-- <i class="fas fa-user-circle"></i> -->
                </div>
                <!-- Notificações -->
                <span class="badge">5</span>
                <!-- Seta para abrir menu -->
                <div class="arrow">
                  <i class="fas fa-chevron-down"></i>
                </div>
              </button>
              <div class="menu">
                <!-- Informações do usuário -->
                <div class="title user">
                  <div class="name">Márcia Vinícius Tavares de Almeida</div>
                  <div class="email">marcia-vinicius.almeida@serpro.gov.br</div>
                </div>
                <!-- Lista de configurações -->
                <span class="title">
                  <i class="fas fa-cog"></i>
                  Configuração/Perfil
                </span>
                <a href="" class="item">Configuração 01</a>
                <a href="" class="item">Configuração 02</a>
                <a href="" class="item">Configuração 03</a>
              </div>
            </div>
            <!-- Sistemas favoritos do usuário -->
            <div style="display: none;" class="bookmarks dropdown">
              <button class="trigger" type="button">
                <i class="fas fa-th-large"></i>
              </button>
              <div class="menu">
                <div class="title">Sistemas</div>
                <div class="list">
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 01</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 02</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 03</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 04</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 05</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 06</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 07</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 08</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 09</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 10</div>
                    </a>
                  </div>
                </div>
                <div class="more">
                  <a href="">Mais</a>
                </div>
              </div>
            </div>
            <!-- Logout -->
             {% for o in dataname %}
             <h1 id="welcome" >Bem Vindo, {{ o.displayName }} !</h1>
             {% endfor %}
            <button class="logout" type="button"><a style="color: #FFF" id="logout" href="/logout">Sair</a></button>
          </div>
          <!-- Menu sanduiche -->
          <button style="display: none;" class="menu-hamburger" type="button">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- Wrapper principal -->
  <div class="page-wrapper">
    <!-- Menu de navegação -->
    <nav id="navigation" class="navigation" data-type="system" data-level="0">
      <div class="wrapper">
        <div class="overflow-auto">
          <div class="container">
            <!-- Logo e avatar -->
            <div class="header-bar">
              <!-- Avatar do usuário -->
              <div class="nav-avatar">
                <!-- Configurações do usuário -->
              </div>
              <!-- Altocontraste -->
              <div class="nav-contrast">
              </div>
              <!-- Sistemas favoritos do usuário -->
              <div class="nav-bookmarks">
              </div>
              <!-- Logo -->
              <div class="nav-logo"></div>
            </div>
            <!-- Menu de navegação -->
            <div class="items">
              <!-- Navegação local -->
              <ul class="local" data-level="0">
                <li class="item">
                  <button type="button">Item de nível 1</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item">
                      <button type="button">Item de nível 2.1</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.2</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.3</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.4</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.5</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Conheça a Presidência</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Biografia do Presidente</a></li>
                    <li class="item"><a href="">Ministros</a></li>
                    <li class="item"><a href="">Principais Tropas</a></li>
                    <li class="item"><a href="">Palácio e Residências</a></li>
                    <li class="item"><a href="">Acervo</a></li>
                    <li class="item"><a href="">Ritos e Solenidades</a></li>
                    <li class="item"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Vice-Presidência</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Agenda Vice-Presidente</a></li>
                    <li class="item"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
                    <li class="item"><a href="">Biografia</a></li>
                    <li class="item"><a href="">Atribuições</a></li>
                    <li class="item"><a href="">Discursos e Pronunciamentos</a></li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Acesso à Informação</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Institucional</a></li>
                    <li class="item"><a href="">Ações e Programas</a></li>
                    <li class="item"><a href="">Dados abertos</a></li>
                    <li class="item"><a href="">Auditorias</a></li>
                    <li class="item"><a href="">Convênios</a></li>
                    <li class="item"><a href="">Despesas</a></li>
                    <li class="item"><a href="">Licitações e contratos</a></li>
                    <li class="item"><a href="">Servidores</a></li>
                    <li class="item"><a href="">Informações Classificadas</a></li>
                    <li class="item"><a href="">Serviço de Informação ao Cidadão</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Links rápidos -->
          <div class="nav-quicklinks"></div>
          <!-- Logout -->
          <div class="nav-logout">
            <div class="nav-timeout">
            </div>
            <div class="nav-buttontimeout">
            </div>
          </div>
          <!-- Links úteis e redes sociais -->
          <div class="row">
            <!-- Links úteis -->
            <!-- Redes sociais -->
          </div>
        </div>
      </div>
    </nav>
    <div class="flex-fill">
      <!-- Sombra do topo -->
      <div class="">
        <div class="container-fluid">
          <!-- Barra de sistema -->
          <div class="row system-bar">
            <!-- Breadcrumbs -->
            <div class="col">
              <ul class="br-breadcrumb">
                <li class="home">
                  <a href="/logout">
                    <span class="sr-only">Página inicial</span>
                    <i class="fas fa-home"></i>
                  </a>
                </li>
                <li><a href="/logout">Login</a></li>
                <li class="is-active"><a href="">Controle de Usuários</a></li>
              </ul>
            </div>
            <!-- Timeout -->
            <div class="col-auto">
              <div class="timeout">
                <i class="fas fa-clock"></i>
                <span class="session">Sessão:</span>
                <span class="timer">00 min. e 00 seg</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <!-- Conteúdo principal -->
      <main id="content" class="page-content">
        <div class="container-fluid">
          <h1 class="main-title">Controle de Usuários</h1>
          <div class="row">
               <div class="col md-12">
                  <!-- <h2>Usuários<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#insert-modal">Add Usuário</button></h2> -->
                  {%with messages = get_flashed_messages()%}
                  {%if messages%}
                  {%for message in messages%}
                  <div class="alert alert-success alert-dismissable" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="close">
                     <span aria-hidden="true">x</span>
                     </button>
                     {{message}}
                  </div>
                  {%endfor %}
                  {%endif%}
                  {%endwith%}
                  <table id="table-users" class="table table-striped table-bordered">
                    <!-- <table id="table-users" class="table table-striped table-bordered" style="width:90%; margin-left: 130px; margin-bottom: 33px;"> -->
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>Login</th>
                           <th>Vinculo</th>
                           <th>Cargo</th>
                           <th>Siape</th>
                           <th>CPF</th>
                           <th>Local de Trabalho</th>
                           <th>Telefone Funcional</th>
                           <th>Telefone Celular</th>
                           <th>Data de Nascimento</th>
                           <th>Departamento</th>
                           <th>Atualizado Em</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {%for row in users%}
                        <tr>
                           <td>{{row.0}}</td>
                           <td>{{row.1}}</td>
                           <td>{{row.2}}</td>
                           <td>{{row.3}}</td>
                           <td>{{row.4}}</td>
                           <td>{{row.5}}</td>
                           <td>{{row.6}}</td>
                           <td>{{row.7}}</td>
                           <td>{{row.8}}</td>
                           <td>{{row.9}}</td>
                           <td>{{row.10}}</td>
                           <td>{{row.11}}</td>
                           <td>
                              <!-- <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit-modal">Edit</a> -->
                              <a style="text-decoration: none;" href="/delete/{{row.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja deletar?')">Delete</a>
                           </td>
                        </tr>
                        {%endfor%}
                     </tbody>
                     <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Login</th>
                          <th>Vinculo</th>
                          <th>Cargo</th>
                          <th>Siape</th>
                          <th>CPF</th>
                          <th>Local de Trabalho</th>
                          <th>Telefone Funcional</th>
                          <th>Telefone Celular</th>
                          <th>Data de Nascimento</th>
                          <th>Departamento</th>
                          <th>Atualizado Em</th>
                          <th>Action</th>                       
                        </tr>
                     </tfoot>
                  </table>
                  <a style="float: left; text-decoration: none;"  href="/download" class="btn btn-success btn-xs">Export In CSV</a> 
                  <h5 style="float: right; font-weight: bold; margin-right: 15px;">
                  Usuários atualizados: {{ users|length }}</h5>
               </div>
            </div>
          <!-- <p>Conteúdo principal</p> -->
          <!-- Voltar ao topo -->
          <div class="text-right">
            <hr>
<!--             <button class="br-button is-go-top" type="button">
              Voltar ao topo
              <span class="br-button is-circle is-primary">
                <i class="fas fa-chevron-up"></i>
              </span>
            </button> -->
            <hr>
          </div>
          <!-- Lincença e reportar erro -->
          <div class="row">
            <!-- Licença -->
<!--             <div class="col-sm">
              <p class="license">
                Versão do sistema
              </p>
            </div> -->
            <!-- Reportar erro -->
<!--             <div class="col-sm-auto">
              <p class="report-error">
                <a href="" class="text-uppercase">Reportar erro</a>
              </p>
            </div> -->
          </div>
        </div>
      </main>
    </div>
  </div>
      <!-- Rodapé de governo -->
  <div id="footer-brasil" class="page-footer mt-5 mt-sm-0"></div>
  <footer id="footer" class="page-footer">
      <div class="bg-primary-darken-25 text-white">
        <div class="container">
          <!-- Logo do rodapé -->
          <div class="logo">
            <img src="https://dsgov.estaleiro.serpro.gov.br/assets/design-system/assets/images/govbrNegativa.svg" alt="gov.br">
          </div>
          <!-- Itens de navegação -->
          <div class="navigation is-active">
            <ul class="local" data-level="0">
<!--               <li class="item is-active">
                <button type="button">Item de nível 1</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Item de nível 2.1</a></li>
                  <li class="item is-active"><a href="">Item de nível 2.2</a></li>
                  <li class="item is-active"><a href="">Item de nível 2.3</a></li>
                  <li class="item is-active"><a href="">Item de nível 2.4</a></li>
                  <li class="item is-active"><a href="">Item de nível 2.5</a></li>
                </ul>
              </li -->
              <li class="item is-active">
                <button type="button">Conheça a Presidência</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Biografia do Presidente</a></li>
                  <li class="item is-active"><a href="">Ministros</a></li>
                  <li class="item is-active"><a href="">Principais Tropas</a></li>
                  <li class="item is-active"><a href="">Palácio e Residências</a></li>
                  <li class="item is-active"><a href="">Acervo</a></li>
                  <li class="item is-active"><a href="">Ritos e Solenidades</a></li>
                  <li class="item is-active"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
                </ul>
              </li>
              <li class="item is-active">
                <button type="button">Vice-Presidência</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Agenda Vice-Presidente</a></li>
                  <li class="item is-active"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
                  <li class="item is-active"><a href="">Biografia</a></li>
                  <li class="item is-active"><a href="">Atribuições</a></li>
                  <li class="item is-active"><a href="">Discursos e Pronunciamentos</a></li>
                </ul>
              </li>
              <li class="item is-active">
                <button type="button">Acesso à Informação</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Institucional</a></li>
                  <li class="item is-active"><a href="">Ações e Programas</a></li>
                  <li class="item is-active"><a href="">Dados abertos</a></li>
                  <li class="item is-active"><a href="">Auditorias</a></li>
                  <li class="item is-active"><a href="">Convênios</a></li>
                  <li class="item is-active"><a href="">Despesas</a></li>
                  <li class="item is-active"><a href="">Licitações e contratos</a></li>
                  <li class="item is-active"><a href="">Servidores</a></li>
                  <li class="item is-active"><a href="">Informações Classificadas</a></li>
                  <li class="item is-active"><a href="">Serviço de Informação ao Cidadão</a></li>
                </ul>
              </li>
              <li class="item is-active">
                <button type="button">Centrais de Conteúdo</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Imagens</a></li>
                  <li class="item is-active"><a href="">Vídeos</a></li>
                  <li class="item is-active"><a href="">Áudios</a></li>
                </ul>
              </li>
              <li class="item is-active">
                <button type="button">Fale Conosco</button>
                <ul class="submenu level-1" data-level="1">
                  <li class="item is-active"><a href="">Fale com o Presidente</a></li>
                  <li class="item is-active"><a href="">Ouvidoria</a></li>
                </ul>
  <!--             </li>
              <li class="item is-active">
                <a href="">Mensagem do Presidente</a>
              </li> -->
            </ul>
          </div>
          <!-- Redes sociais -->
          <div class="social-network">
            <span>Redes sociais</span>
            <ul>
              <li>
                <a href="https://www.twitter.com/twitter.com/govbr">
                  <i class="fab fa-twitter fa-lg"></i>
                  <span class="sr-only">Twitter</span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/youtube.com/govbr">
                  <i class="fab fa-youtube fa-lg"></i>
                  <span class="sr-only">YouTube</span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/facebook.com/govbr">
                  <i class="fab fa-facebook-f fa-lg"></i>
                  <span class="sr-only">Facebook</span>
                </a>
              </li>
              <li>
                <a href="https://www.flickr.com/flickr/govbr">
                  <i class="fab fa-flickr fa-lg"></i>
                  <span class="sr-only">Flickr</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="/static/js/page.js"></script>
</body>

</html>
